<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Watchlist </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/">Make a suggestion</a>
        <a href="/">sign in</a>
        <a href="/about">About</a>
    </nav>
    <main>
        <h1 class="title">My Watchlist</h1>
        <div class="row">
            <div class ="card">
                <a href="/games", class="card-link">
                    <p class="emoji">🎮</p>
                    <h2>Games</h2>
                </a>
            </div>
            <div class ="card">
                <a href="/movies", class="card-link">
                    <p class="emoji">🎬</p>
                    <h2>Movies</h2>
                </a>
            </div>
            <div class="card">
                <a href="/books", class="card-link">
                    <p class="emoji">📚</p>
                    <h2>Books</h2>
                </a>
            </div>
        </div>
    </main>
</body>
</html>